[data-theme="violet"]{
    --gradient: rgba(146, 51, 234, 0.20);
    --900-0: rgba(146, 51, 234, 0.00);
    --900-10: rgba(146, 51, 234, 0.10);
    --900-20: rgba(146, 51, 234, 0.20);
    --900-30: rgba(146, 51, 234, 0.30);
    --900-40: rgba(146, 51, 234, 0.40);
    --900-50: rgba(146, 51, 234, 0.50);
    --900-60: rgba(146, 51, 234, 0.60);
    --900-70: rgba(146, 51, 234, 0.70);
    --900-80: rgba(146, 51, 234, 0.80);
    --900-90: rgba(146, 51, 234, 0.90);
    --800-0: rgba(173, 102, 239, 0.00);
    --800-10: rgba(173, 102, 239, 0.10);
    --800-20: rgba(173, 102, 239, 0.20);
    --800-30: rgba(173, 102, 239, 0.30);
    --800-40: rgba(173, 102, 239, 0.40);
    --800-50: rgba(173, 102, 239, 0.50);
    --800-60: rgba(173, 102, 239, 0.60);
    --800-70: rgba(173, 102, 239, 0.70);
    --800-80: rgba(173, 102, 239, 0.80);
    --800-90: rgba(173, 102, 239, 0.90);
    --700-0: rgba(200, 153, 244, 0.00);
    --700-10: rgba(200, 153, 244, 0.10);
    --700-20: rgba(200, 153, 244, 0.20);
    --700-30: rgba(200, 153, 244, 0.30);
    --700-40: rgba(200, 153, 244, 0.40);
    --700-50: rgba(200, 153, 244, 0.50);
    --700-60: rgba(200, 153, 244, 0.60);
    --700-70: rgba(200, 153, 244, 0.70);
    --700-80: rgba(200, 153, 244, 0.80);
    --700-90: rgba(200, 153, 244, 0.90);
    --600-0: rgba(227, 204, 249, 0.00);
    --600-10: rgba(227, 204, 249, 0.10);
    --600-20: rgba(227, 204, 249, 0.20);
    --600-30: rgba(227, 204, 249, 0.30);
    --600-40: rgba(227, 204, 249, 0.40);
    --600-50: rgba(227, 204, 249, 0.50);
    --600-60: rgba(227, 204, 249, 0.60);
    --600-70: rgba(227, 204, 249, 0.70);
    --600-80: rgba(227, 204, 249, 0.80);
    --600-90: rgba(227, 204, 249, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(116, 40, 187, 0.00);
    --400-10: rgba(116, 40, 187, 0.10);
    --400-20: rgba(116, 40, 187, 0.20);
    --400-30: rgba(116, 40, 187, 0.30);
    --400-40: rgba(116, 40, 187, 0.40);
    --400-50: rgba(116, 40, 187, 0.50);
    --400-60: rgba(116, 40, 187, 0.60);
    --400-70: rgba(116, 40, 187, 0.70);
    --400-80: rgba(116, 40, 187, 0.80);
    --400-90: rgba(116, 40, 187, 0.90);
    --300-0: rgba(87, 30, 140, 0.00);
    --300-10: rgba(87, 30, 140, 0.10);
    --300-20: rgba(87, 30, 140, 0.20);
    --300-30: rgba(87, 30, 140, 0.30);
    --300-40: rgba(87, 30, 140, 0.40);
    --300-50: rgba(87, 30, 140, 0.50);
    --300-60: rgba(87, 30, 140, 0.60);
    --300-70: rgba(87, 30, 140, 0.70);
    --300-80: rgba(87, 30, 140, 0.80);
    --300-90: rgba(87, 30, 140, 0.90);
    --200-0: rgba(58, 20, 93, 0.00);
    --200-10: rgba(58, 20, 93, 0.10);
    --200-20: rgba(58, 20, 93, 0.20);
    --200-30: rgba(58, 20, 93, 0.30);
    --200-40: rgba(58, 20, 93, 0.40);
    --200-50: rgba(58, 20, 93, 0.50);
    --200-60: rgba(58, 20, 93, 0.60);
    --200-70: rgba(58, 20, 93, 0.70);
    --200-80: rgba(58, 20, 93, 0.80);
    --200-90: rgba(58, 20, 93, 0.90);
    --100-0: rgba(29, 10, 46, 0.00);
    --100-10: rgba(29, 10, 46, 0.10);
    --100-20: rgba(29, 10, 46, 0.20);
    --100-30: rgba(29, 10, 46, 0.30);
    --100-40: rgba(29, 10, 46, 0.40);
    --100-50: rgba(29, 10, 46, 0.50);
    --100-60: rgba(29, 10, 46, 0.60);
    --100-70: rgba(29, 10, 46, 0.70);
    --100-80: rgba(29, 10, 46, 0.80);
    --100-90: rgba(29, 10, 46, 0.90);
}
[data-theme="blue"]{
    --gradient: rgba(51, 136, 234, 0.20);
    --900-0: rgba(51, 136, 234, 0.00);
    --900-10: rgba(51, 136, 234, 0.10);
    --900-20: rgba(51, 136, 234, 0.20);
    --900-30: rgba(51, 136, 234, 0.30);
    --900-40: rgba(51, 136, 234, 0.40);
    --900-50: rgba(51, 136, 234, 0.50);
    --900-60: rgba(51, 136, 234, 0.60);
    --900-70: rgba(51, 136, 234, 0.70);
    --900-80: rgba(51, 136, 234, 0.80);
    --900-90: rgba(51, 136, 234, 0.90);
    --800-0: rgba(102, 165, 239, 0.00);
    --800-10: rgba(102, 165, 239, 0.10);
    --800-20: rgba(102, 165, 239, 0.20);
    --800-30: rgba(102, 165, 239, 0.30);
    --800-40: rgba(102, 165, 239, 0.40);
    --800-50: rgba(102, 165, 239, 0.50);
    --800-60: rgba(102, 165, 239, 0.60);
    --800-70: rgba(102, 165, 239, 0.70);
    --800-80: rgba(102, 165, 239, 0.80);
    --800-90: rgba(102, 165, 239, 0.90);
    --700-0: rgba(153, 195, 244, 0.00);
    --700-10: rgba(153, 195, 244, 0.10);
    --700-20: rgba(153, 195, 244, 0.20);
    --700-30: rgba(153, 195, 244, 0.30);
    --700-40: rgba(153, 195, 244, 0.40);
    --700-50: rgba(153, 195, 244, 0.50);
    --700-60: rgba(153, 195, 244, 0.60);
    --700-70: rgba(153, 195, 244, 0.70);
    --700-80: rgba(153, 195, 244, 0.80);
    --700-90: rgba(153, 195, 244, 0.90);
    --600-0: rgba(204, 225, 249, 0.00);
    --600-10: rgba(204, 225, 249, 0.10);
    --600-20: rgba(204, 225, 249, 0.20);
    --600-30: rgba(204, 225, 249, 0.30);
    --600-40: rgba(204, 225, 249, 0.40);
    --600-50: rgba(204, 225, 249, 0.50);
    --600-60: rgba(204, 225, 249, 0.60);
    --600-70: rgba(204, 225, 249, 0.70);
    --600-80: rgba(204, 225, 249, 0.80);
    --600-90: rgba(204, 225, 249, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(40, 108, 187, 0.00);
    --400-10: rgba(40, 108, 187, 0.10);
    --400-20: rgba(40, 108, 187, 0.20);
    --400-30: rgba(40, 108, 187, 0.30);
    --400-40: rgba(40, 108, 187, 0.40);
    --400-50: rgba(40, 108, 187, 0.50);
    --400-60: rgba(40, 108, 187, 0.60);
    --400-70: rgba(40, 108, 187, 0.70);
    --400-80: rgba(40, 108, 187, 0.80);
    --400-90: rgba(40, 108, 187, 0.90);
    --300-0: rgba(30, 81, 140, 0.00);
    --300-10: rgba(30, 81, 140, 0.10);
    --300-20: rgba(30, 81, 140, 0.20);
    --300-30: rgba(30, 81, 140, 0.30);
    --300-40: rgba(30, 81, 140, 0.40);
    --300-50: rgba(30, 81, 140, 0.50);
    --300-60: rgba(30, 81, 140, 0.60);
    --300-70: rgba(30, 81, 140, 0.70);
    --300-80: rgba(30, 81, 140, 0.80);
    --300-90: rgba(30, 81, 140, 0.90);
    --200-0: rgba(20, 54, 93, 0.00);
    --200-10: rgba(20, 54, 93, 0.10);
    --200-20: rgba(20, 54, 93, 0.20);
    --200-30: rgba(20, 54, 93, 0.30);
    --200-40: rgba(20, 54, 93, 0.40);
    --200-50: rgba(20, 54, 93, 0.50);
    --200-60: rgba(20, 54, 93, 0.60);
    --200-70: rgba(20, 54, 93, 0.70);
    --200-80: rgba(20, 54, 93, 0.80);
    --200-90: rgba(20, 54, 93, 0.90);
    --100-0: rgba(10, 27, 46, 0.00);
    --100-10: rgba(10, 27, 46, 0.10);
    --100-20: rgba(10, 27, 46, 0.20);
    --100-30: rgba(10, 27, 46, 0.30);
    --100-40: rgba(10, 27, 46, 0.40);
    --100-50: rgba(10, 27, 46, 0.50);
    --100-60: rgba(10, 27, 46, 0.60);
    --100-70: rgba(10, 27, 46, 0.70);
    --100-80: rgba(10, 27, 46, 0.80);
    --100-90: rgba(10, 27, 46, 0.90);
}
[data-theme="rose"]{
    --gradient: rgba(239, 68, 68, 0.20);
    --900-0: rgba(239, 68, 68, 0.00);
    --900-10: rgba(239, 68, 68, 0.10);
    --900-20: rgba(239, 68, 68, 0.20);
    --900-30: rgba(239, 68, 68, 0.30);
    --900-40: rgba(239, 68, 68, 0.40);
    --900-50: rgba(239, 68, 68, 0.50);
    --900-60: rgba(239, 68, 68, 0.60);
    --900-70: rgba(239, 68, 68, 0.70);
    --900-80: rgba(239, 68, 68, 0.80);
    --900-90: rgba(239, 68, 68, 0.90);
    --800-0: rgba(243, 114, 114, 0.00);
    --800-10: rgba(243, 114, 114, 0.10);
    --800-20: rgba(243, 114, 114, 0.20);
    --800-30: rgba(243, 114, 114, 0.30);
    --800-40: rgba(243, 114, 114, 0.40);
    --800-50: rgba(243, 114, 114, 0.50);
    --800-60: rgba(243, 114, 114, 0.60);
    --800-70: rgba(243, 114, 114, 0.70);
    --800-80: rgba(243, 114, 114, 0.80);
    --800-90: rgba(243, 114, 114, 0.90);
    --700-0: rgba(247, 161, 161, 0.00);
    --700-10: rgba(247, 161, 161, 0.10);
    --700-20: rgba(247, 161, 161, 0.20);
    --700-30: rgba(247, 161, 161, 0.30);
    --700-40: rgba(247, 161, 161, 0.40);
    --700-50: rgba(247, 161, 161, 0.50);
    --700-60: rgba(247, 161, 161, 0.60);
    --700-70: rgba(247, 161, 161, 0.70);
    --700-80: rgba(247, 161, 161, 0.80);
    --700-90: rgba(247, 161, 161, 0.90);
    --600-0: rgba(251, 208, 208, 0.00);
    --600-10: rgba(251, 208, 208, 0.10);
    --600-20: rgba(251, 208, 208, 0.20);
    --600-30: rgba(251, 208, 208, 0.30);
    --600-40: rgba(251, 208, 208, 0.40);
    --600-50: rgba(251, 208, 208, 0.50);
    --600-60: rgba(251, 208, 208, 0.60);
    --600-70: rgba(251, 208, 208, 0.70);
    --600-80: rgba(251, 208, 208, 0.80);
    --600-90: rgba(251, 208, 208, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(191, 54, 54, 0.00);
    --400-10: rgba(191, 54, 54, 0.10);
    --400-20: rgba(191, 54, 54, 0.20);
    --400-30: rgba(191, 54, 54, 0.30);
    --400-40: rgba(191, 54, 54, 0.40);
    --400-50: rgba(191, 54, 54, 0.50);
    --400-60: rgba(191, 54, 54, 0.60);
    --400-70: rgba(191, 54, 54, 0.70);
    --400-80: rgba(191, 54, 54, 0.80);
    --400-90: rgba(191, 54, 54, 0.90);
    --300-0: rgba(143, 40, 40, 0.00);
    --300-10: rgba(143, 40, 40, 0.10);
    --300-20: rgba(143, 40, 40, 0.20);
    --300-30: rgba(143, 40, 40, 0.30);
    --300-40: rgba(143, 40, 40, 0.40);
    --300-50: rgba(143, 40, 40, 0.50);
    --300-60: rgba(143, 40, 40, 0.60);
    --300-70: rgba(143, 40, 40, 0.70);
    --300-80: rgba(143, 40, 40, 0.80);
    --300-90: rgba(143, 40, 40, 0.90);
    --200-0: rgba(95, 27, 27, 0.00);
    --200-10: rgba(95, 27, 27, 0.10);
    --200-20: rgba(95, 27, 27, 0.20);
    --200-30: rgba(95, 27, 27, 0.30);
    --200-40: rgba(95, 27, 27, 0.40);
    --200-50: rgba(95, 27, 27, 0.50);
    --200-60: rgba(95, 27, 27, 0.60);
    --200-70: rgba(95, 27, 27, 0.70);
    --200-80: rgba(95, 27, 27, 0.80);
    --200-90: rgba(95, 27, 27, 0.90);
    --100-0: rgba(47, 13, 13, 0.00);
    --100-10: rgba(47, 13, 13, 0.10);
    --100-20: rgba(47, 13, 13, 0.20);
    --100-30: rgba(47, 13, 13, 0.30);
    --100-40: rgba(47, 13, 13, 0.40);
    --100-50: rgba(47, 13, 13, 0.50);
    --100-60: rgba(47, 13, 13, 0.60);
    --100-70: rgba(47, 13, 13, 0.70);
    --100-80: rgba(47, 13, 13, 0.80);
    --100-90: rgba(47, 13, 13, 0.90);
}
[data-theme="amber"]{
    --gradient: rgba(245, 158, 11, 0.20);
    --900-0: rgba(245, 158, 11, 0.00);
    --900-10: rgba(245, 158, 11, 0.10);
    --900-20: rgba(245, 158, 11, 0.20);
    --900-30: rgba(245, 158, 11, 0.30);
    --900-40: rgba(245, 158, 11, 0.40);
    --900-50: rgba(245, 158, 11, 0.50);
    --900-60: rgba(245, 158, 11, 0.60);
    --900-70: rgba(245, 158, 11, 0.70);
    --900-80: rgba(245, 158, 11, 0.80);
    --900-90: rgba(245, 158, 11, 0.90);
    --800-0: rgba(247, 182, 72, 0.00);
    --800-10: rgba(247, 182, 72, 0.10);
    --800-20: rgba(247, 182, 72, 0.20);
    --800-30: rgba(247, 182, 72, 0.30);
    --800-40: rgba(247, 182, 72, 0.40);
    --800-50: rgba(247, 182, 72, 0.50);
    --800-60: rgba(247, 182, 72, 0.60);
    --800-70: rgba(247, 182, 72, 0.70);
    --800-80: rgba(247, 182, 72, 0.80);
    --800-90: rgba(247, 182, 72, 0.90);
    --700-0: rgba(250, 206, 133, 0.00);
    --700-10: rgba(250, 206, 133, 0.10);
    --700-20: rgba(250, 206, 133, 0.20);
    --700-30: rgba(250, 206, 133, 0.30);
    --700-40: rgba(250, 206, 133, 0.40);
    --700-50: rgba(250, 206, 133, 0.50);
    --700-60: rgba(250, 206, 133, 0.60);
    --700-70: rgba(250, 206, 133, 0.70);
    --700-80: rgba(250, 206, 133, 0.80);
    --700-90: rgba(250, 206, 133, 0.90);
    --600-0: rgba(252, 230, 194, 0.00);
    --600-10: rgba(252, 230, 194, 0.10);
    --600-20: rgba(252, 230, 194, 0.20);
    --600-30: rgba(252, 230, 194, 0.30);
    --600-40: rgba(252, 230, 194, 0.40);
    --600-50: rgba(252, 230, 194, 0.50);
    --600-60: rgba(252, 230, 194, 0.60);
    --600-70: rgba(252, 230, 194, 0.70);
    --600-80: rgba(252, 230, 194, 0.80);
    --600-90: rgba(252, 230, 194, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(196, 126, 8, 0.00);
    --400-10: rgba(196, 126, 8, 0.10);
    --400-20: rgba(196, 126, 8, 0.20);
    --400-30: rgba(196, 126, 8, 0.30);
    --400-40: rgba(196, 126, 8, 0.40);
    --400-50: rgba(196, 126, 8, 0.50);
    --400-60: rgba(196, 126, 8, 0.60);
    --400-70: rgba(196, 126, 8, 0.70);
    --400-80: rgba(196, 126, 8, 0.80);
    --400-90: rgba(196, 126, 8, 0.90);
    --300-0: rgba(147, 94, 6, 0.00);
    --300-10: rgba(147, 94, 6, 0.10);
    --300-20: rgba(147, 94, 6, 0.20);
    --300-30: rgba(147, 94, 6, 0.30);
    --300-40: rgba(147, 94, 6, 0.40);
    --300-50: rgba(147, 94, 6, 0.50);
    --300-60: rgba(147, 94, 6, 0.60);
    --300-70: rgba(147, 94, 6, 0.70);
    --300-80: rgba(147, 94, 6, 0.80);
    --300-90: rgba(147, 94, 6, 0.90);
    --200-0: rgba(98, 63, 4, 0.00);
    --200-10: rgba(98, 63, 4, 0.10);
    --200-20: rgba(98, 63, 4, 0.20);
    --200-30: rgba(98, 63, 4, 0.30);
    --200-40: rgba(98, 63, 4, 0.40);
    --200-50: rgba(98, 63, 4, 0.50);
    --200-60: rgba(98, 63, 4, 0.60);
    --200-70: rgba(98, 63, 4, 0.70);
    --200-80: rgba(98, 63, 4, 0.80);
    --200-90: rgba(98, 63, 4, 0.90);
    --100-0: rgba(49, 31, 2, 0.00);
    --100-10: rgba(49, 31, 2, 0.10);
    --100-20: rgba(49, 31, 2, 0.20);
    --100-30: rgba(49, 31, 2, 0.30);
    --100-40: rgba(49, 31, 2, 0.40);
    --100-50: rgba(49, 31, 2, 0.50);
    --100-60: rgba(49, 31, 2, 0.60);
    --100-70: rgba(49, 31, 2, 0.70);
    --100-80: rgba(49, 31, 2, 0.80);
    --100-90: rgba(49, 31, 2, 0.90);
}
[data-theme="emerald"]{
    --gradient: rgba(16, 185, 129, 0.20);
    --900-0: rgba(16, 185, 129, 0.00);
    --900-10: rgba(16, 185, 129, 0.10);
    --900-20: rgba(16, 185, 129, 0.20);
    --900-30: rgba(16, 185, 129, 0.30);
    --900-40: rgba(16, 185, 129, 0.40);
    --900-50: rgba(16, 185, 129, 0.50);
    --900-60: rgba(16, 185, 129, 0.60);
    --900-70: rgba(16, 185, 129, 0.70);
    --900-80: rgba(16, 185, 129, 0.80);
    --900-90: rgba(16, 185, 129, 0.90);
    --800-0: rgba(75, 202, 160, 0.00);
    --800-10: rgba(75, 202, 160, 0.10);
    --800-20: rgba(75, 202, 160, 0.20);
    --800-30: rgba(75, 202, 160, 0.30);
    --800-40: rgba(75, 202, 160, 0.40);
    --800-50: rgba(75, 202, 160, 0.50);
    --800-60: rgba(75, 202, 160, 0.60);
    --800-70: rgba(75, 202, 160, 0.70);
    --800-80: rgba(75, 202, 160, 0.80);
    --800-90: rgba(75, 202, 160, 0.90);
    --700-0: rgba(135, 220, 192, 0.00);
    --700-10: rgba(135, 220, 192, 0.10);
    --700-20: rgba(135, 220, 192, 0.20);
    --700-30: rgba(135, 220, 192, 0.30);
    --700-40: rgba(135, 220, 192, 0.40);
    --700-50: rgba(135, 220, 192, 0.50);
    --700-60: rgba(135, 220, 192, 0.60);
    --700-70: rgba(135, 220, 192, 0.70);
    --700-80: rgba(135, 220, 192, 0.80);
    --700-90: rgba(135, 220, 192, 0.90);
    --600-0: rgba(195, 237, 223, 0.00);
    --600-10: rgba(195, 237, 223, 0.10);
    --600-20: rgba(195, 237, 223, 0.20);
    --600-30: rgba(195, 237, 223, 0.30);
    --600-40: rgba(195, 237, 223, 0.40);
    --600-50: rgba(195, 237, 223, 0.50);
    --600-60: rgba(195, 237, 223, 0.60);
    --600-70: rgba(195, 237, 223, 0.70);
    --600-80: rgba(195, 237, 223, 0.80);
    --600-90: rgba(195, 237, 223, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(12, 148, 103, 0.00);
    --400-10: rgba(12, 148, 103, 0.10);
    --400-20: rgba(12, 148, 103, 0.20);
    --400-30: rgba(12, 148, 103, 0.30);
    --400-40: rgba(12, 148, 103, 0.40);
    --400-50: rgba(12, 148, 103, 0.50);
    --400-60: rgba(12, 148, 103, 0.60);
    --400-70: rgba(12, 148, 103, 0.70);
    --400-80: rgba(12, 148, 103, 0.80);
    --400-90: rgba(12, 148, 103, 0.90);
    --300-0: rgba(9, 111, 77, 0.00);
    --300-10: rgba(9, 111, 77, 0.10);
    --300-20: rgba(9, 111, 77, 0.20);
    --300-30: rgba(9, 111, 77, 0.30);
    --300-40: rgba(9, 111, 77, 0.40);
    --300-50: rgba(9, 111, 77, 0.50);
    --300-60: rgba(9, 111, 77, 0.60);
    --300-70: rgba(9, 111, 77, 0.70);
    --300-80: rgba(9, 111, 77, 0.80);
    --300-90: rgba(9, 111, 77, 0.90);
    --200-0: rgba(6, 74, 51, 0.00);
    --200-10: rgba(6, 74, 51, 0.10);
    --200-20: rgba(6, 74, 51, 0.20);
    --200-30: rgba(6, 74, 51, 0.30);
    --200-40: rgba(6, 74, 51, 0.40);
    --200-50: rgba(6, 74, 51, 0.50);
    --200-60: rgba(6, 74, 51, 0.60);
    --200-70: rgba(6, 74, 51, 0.70);
    --200-80: rgba(6, 74, 51, 0.80);
    --200-90: rgba(6, 74, 51, 0.90);
    --100-0: rgba(3, 37, 25, 0.00);
    --100-10: rgba(3, 37, 25, 0.10);
    --100-20: rgba(3, 37, 25, 0.20);
    --100-30: rgba(3, 37, 25, 0.30);
    --100-40: rgba(3, 37, 25, 0.40);
    --100-50: rgba(3, 37, 25, 0.50);
    --100-60: rgba(3, 37, 25, 0.60);
    --100-70: rgba(3, 37, 25, 0.70);
    --100-80: rgba(3, 37, 25, 0.80);
    --100-90: rgba(3, 37, 25, 0.90);
}
[data-theme="red"]{
    --gradient: rgba(170, 0, 0, 0.20);
    --900-0: rgba(170, 0, 0, 0.00);
    --900-10: rgba(170, 0, 0, 0.10);
    --900-20: rgba(170, 0, 0, 0.20);
    --900-30: rgba(170, 0, 0, 0.30);
    --900-40: rgba(170, 0, 0, 0.40);
    --900-50: rgba(170, 0, 0, 0.50);
    --900-60: rgba(170, 0, 0, 0.60);
    --900-70: rgba(170, 0, 0, 0.70);
    --900-80: rgba(170, 0, 0, 0.80);
    --900-90: rgba(170, 0, 0, 0.90);
    --800-0: rgba(191, 63, 63, 0.00);
    --800-10: rgba(191, 63, 63, 0.10);
    --800-20: rgba(191, 63, 63, 0.20);
    --800-30: rgba(191, 63, 63, 0.30);
    --800-40: rgba(191, 63, 63, 0.40);
    --800-50: rgba(191, 63, 63, 0.50);
    --800-60: rgba(191, 63, 63, 0.60);
    --800-70: rgba(191, 63, 63, 0.70);
    --800-80: rgba(191, 63, 63, 0.80);
    --800-90: rgba(191, 63, 63, 0.90);
    --700-0: rgba(212, 127, 127, 0.00);
    --700-10: rgba(212, 127, 127, 0.10);
    --700-20: rgba(212, 127, 127, 0.20);
    --700-30: rgba(212, 127, 127, 0.30);
    --700-40: rgba(212, 127, 127, 0.40);
    --700-50: rgba(212, 127, 127, 0.50);
    --700-60: rgba(212, 127, 127, 0.60);
    --700-70: rgba(212, 127, 127, 0.70);
    --700-80: rgba(212, 127, 127, 0.80);
    --700-90: rgba(212, 127, 127, 0.90);
    --600-0: rgba(233, 191, 191, 0.00);
    --600-10: rgba(233, 191, 191, 0.10);
    --600-20: rgba(233, 191, 191, 0.20);
    --600-30: rgba(233, 191, 191, 0.30);
    --600-40: rgba(233, 191, 191, 0.40);
    --600-50: rgba(233, 191, 191, 0.50);
    --600-60: rgba(233, 191, 191, 0.60);
    --600-70: rgba(233, 191, 191, 0.70);
    --600-80: rgba(233, 191, 191, 0.80);
    --600-90: rgba(233, 191, 191, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(136, 0, 0, 0.00);
    --400-10: rgba(136, 0, 0, 0.10);
    --400-20: rgba(136, 0, 0, 0.20);
    --400-30: rgba(136, 0, 0, 0.30);
    --400-40: rgba(136, 0, 0, 0.40);
    --400-50: rgba(136, 0, 0, 0.50);
    --400-60: rgba(136, 0, 0, 0.60);
    --400-70: rgba(136, 0, 0, 0.70);
    --400-80: rgba(136, 0, 0, 0.80);
    --400-90: rgba(136, 0, 0, 0.90);
    --300-0: rgba(102, 0, 0, 0.00);
    --300-10: rgba(102, 0, 0, 0.10);
    --300-20: rgba(102, 0, 0, 0.20);
    --300-30: rgba(102, 0, 0, 0.30);
    --300-40: rgba(102, 0, 0, 0.40);
    --300-50: rgba(102, 0, 0, 0.50);
    --300-60: rgba(102, 0, 0, 0.60);
    --300-70: rgba(102, 0, 0, 0.70);
    --300-80: rgba(102, 0, 0, 0.80);
    --300-90: rgba(102, 0, 0, 0.90);
    --200-0: rgba(68, 0, 0, 0.00);
    --200-10: rgba(68, 0, 0, 0.10);
    --200-20: rgba(68, 0, 0, 0.20);
    --200-30: rgba(68, 0, 0, 0.30);
    --200-40: rgba(68, 0, 0, 0.40);
    --200-50: rgba(68, 0, 0, 0.50);
    --200-60: rgba(68, 0, 0, 0.60);
    --200-70: rgba(68, 0, 0, 0.70);
    --200-80: rgba(68, 0, 0, 0.80);
    --200-90: rgba(68, 0, 0, 0.90);
    --100-0: rgba(34, 0, 0, 0.00);
    --100-10: rgba(34, 0, 0, 0.10);
    --100-20: rgba(34, 0, 0, 0.20);
    --100-30: rgba(34, 0, 0, 0.30);
    --100-40: rgba(34, 0, 0, 0.40);
    --100-50: rgba(34, 0, 0, 0.50);
    --100-60: rgba(34, 0, 0, 0.60);
    --100-70: rgba(34, 0, 0, 0.70);
    --100-80: rgba(34, 0, 0, 0.80);
    --100-90: rgba(34, 0, 0, 0.90);
}
[data-theme="yellow"]{
    --gradient: rgba(210, 210, 0, 0.20);
    --900-0: rgba(210, 210, 0, 0.00);
    --900-10: rgba(210, 210, 0, 0.10);
    --900-20: rgba(210, 210, 0, 0.20);
    --900-30: rgba(210, 210, 0, 0.30);
    --900-40: rgba(210, 210, 0, 0.40);
    --900-50: rgba(210, 210, 0, 0.50);
    --900-60: rgba(210, 210, 0, 0.60);
    --900-70: rgba(210, 210, 0, 0.70);
    --900-80: rgba(210, 210, 0, 0.80);
    --900-90: rgba(210, 210, 0, 0.90);
    --800-0: rgba(221, 221, 63, 0.00);
    --800-10: rgba(221, 221, 63, 0.10);
    --800-20: rgba(221, 221, 63, 0.20);
    --800-30: rgba(221, 221, 63, 0.30);
    --800-40: rgba(221, 221, 63, 0.40);
    --800-50: rgba(221, 221, 63, 0.50);
    --800-60: rgba(221, 221, 63, 0.60);
    --800-70: rgba(221, 221, 63, 0.70);
    --800-80: rgba(221, 221, 63, 0.80);
    --800-90: rgba(221, 221, 63, 0.90);
    --700-0: rgba(232, 232, 127, 0.00);
    --700-10: rgba(232, 232, 127, 0.10);
    --700-20: rgba(232, 232, 127, 0.20);
    --700-30: rgba(232, 232, 127, 0.30);
    --700-40: rgba(232, 232, 127, 0.40);
    --700-50: rgba(232, 232, 127, 0.50);
    --700-60: rgba(232, 232, 127, 0.60);
    --700-70: rgba(232, 232, 127, 0.70);
    --700-80: rgba(232, 232, 127, 0.80);
    --700-90: rgba(232, 232, 127, 0.90);
    --600-0: rgba(243, 243, 191, 0.00);
    --600-10: rgba(243, 243, 191, 0.10);
    --600-20: rgba(243, 243, 191, 0.20);
    --600-30: rgba(243, 243, 191, 0.30);
    --600-40: rgba(243, 243, 191, 0.40);
    --600-50: rgba(243, 243, 191, 0.50);
    --600-60: rgba(243, 243, 191, 0.60);
    --600-70: rgba(243, 243, 191, 0.70);
    --600-80: rgba(243, 243, 191, 0.80);
    --600-90: rgba(243, 243, 191, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(168, 168, 0, 0.00);
    --400-10: rgba(168, 168, 0, 0.10);
    --400-20: rgba(168, 168, 0, 0.20);
    --400-30: rgba(168, 168, 0, 0.30);
    --400-40: rgba(168, 168, 0, 0.40);
    --400-50: rgba(168, 168, 0, 0.50);
    --400-60: rgba(168, 168, 0, 0.60);
    --400-70: rgba(168, 168, 0, 0.70);
    --400-80: rgba(168, 168, 0, 0.80);
    --400-90: rgba(168, 168, 0, 0.90);
    --300-0: rgba(126, 126, 0, 0.00);
    --300-10: rgba(126, 126, 0, 0.10);
    --300-20: rgba(126, 126, 0, 0.20);
    --300-30: rgba(126, 126, 0, 0.30);
    --300-40: rgba(126, 126, 0, 0.40);
    --300-50: rgba(126, 126, 0, 0.50);
    --300-60: rgba(126, 126, 0, 0.60);
    --300-70: rgba(126, 126, 0, 0.70);
    --300-80: rgba(126, 126, 0, 0.80);
    --300-90: rgba(126, 126, 0, 0.90);
    --200-0: rgba(84, 84, 0, 0.00);
    --200-10: rgba(84, 84, 0, 0.10);
    --200-20: rgba(84, 84, 0, 0.20);
    --200-30: rgba(84, 84, 0, 0.30);
    --200-40: rgba(84, 84, 0, 0.40);
    --200-50: rgba(84, 84, 0, 0.50);
    --200-60: rgba(84, 84, 0, 0.60);
    --200-70: rgba(84, 84, 0, 0.70);
    --200-80: rgba(84, 84, 0, 0.80);
    --200-90: rgba(84, 84, 0, 0.90);
    --100-0: rgba(42, 42, 0, 0.00);
    --100-10: rgba(42, 42, 0, 0.10);
    --100-20: rgba(42, 42, 0, 0.20);
    --100-30: rgba(42, 42, 0, 0.30);
    --100-40: rgba(42, 42, 0, 0.40);
    --100-50: rgba(42, 42, 0, 0.50);
    --100-60: rgba(42, 42, 0, 0.60);
    --100-70: rgba(42, 42, 0, 0.70);
    --100-80: rgba(42, 42, 0, 0.80);
    --100-90: rgba(42, 42, 0, 0.90);
}
[data-theme="cyan"]{
    --gradient: rgba(0, 170, 170, 0.20);
    --900-0: rgba(0, 170, 170, 0.00);
    --900-10: rgba(0, 170, 170, 0.10);
    --900-20: rgba(0, 170, 170, 0.20);
    --900-30: rgba(0, 170, 170, 0.30);
    --900-40: rgba(0, 170, 170, 0.40);
    --900-50: rgba(0, 170, 170, 0.50);
    --900-60: rgba(0, 170, 170, 0.60);
    --900-70: rgba(0, 170, 170, 0.70);
    --900-80: rgba(0, 170, 170, 0.80);
    --900-90: rgba(0, 170, 170, 0.90);
    --800-0: rgba(63, 191, 191, 0.00);
    --800-10: rgba(63, 191, 191, 0.10);
    --800-20: rgba(63, 191, 191, 0.20);
    --800-30: rgba(63, 191, 191, 0.30);
    --800-40: rgba(63, 191, 191, 0.40);
    --800-50: rgba(63, 191, 191, 0.50);
    --800-60: rgba(63, 191, 191, 0.60);
    --800-70: rgba(63, 191, 191, 0.70);
    --800-80: rgba(63, 191, 191, 0.80);
    --800-90: rgba(63, 191, 191, 0.90);
    --700-0: rgba(127, 212, 212, 0.00);
    --700-10: rgba(127, 212, 212, 0.10);
    --700-20: rgba(127, 212, 212, 0.20);
    --700-30: rgba(127, 212, 212, 0.30);
    --700-40: rgba(127, 212, 212, 0.40);
    --700-50: rgba(127, 212, 212, 0.50);
    --700-60: rgba(127, 212, 212, 0.60);
    --700-70: rgba(127, 212, 212, 0.70);
    --700-80: rgba(127, 212, 212, 0.80);
    --700-90: rgba(127, 212, 212, 0.90);
    --600-0: rgba(191, 233, 233, 0.00);
    --600-10: rgba(191, 233, 233, 0.10);
    --600-20: rgba(191, 233, 233, 0.20);
    --600-30: rgba(191, 233, 233, 0.30);
    --600-40: rgba(191, 233, 233, 0.40);
    --600-50: rgba(191, 233, 233, 0.50);
    --600-60: rgba(191, 233, 233, 0.60);
    --600-70: rgba(191, 233, 233, 0.70);
    --600-80: rgba(191, 233, 233, 0.80);
    --600-90: rgba(191, 233, 233, 0.90);
    --500-0: rgba(255, 255, 255, 0.00);
    --500-10: rgba(255, 255, 255, 0.10);
    --500-20: rgba(255, 255, 255, 0.20);
    --500-30: rgba(255, 255, 255, 0.30);
    --500-40: rgba(255, 255, 255, 0.40);
    --500-50: rgba(255, 255, 255, 0.50);
    --500-60: rgba(255, 255, 255, 0.60);
    --500-70: rgba(255, 255, 255, 0.70);
    --500-80: rgba(255, 255, 255, 0.80);
    --500-90: rgba(255, 255, 255, 0.90);
    --400-0: rgba(0, 136, 136, 0.00);
    --400-10: rgba(0, 136, 136, 0.10);
    --400-20: rgba(0, 136, 136, 0.20);
    --400-30: rgba(0, 136, 136, 0.30);
    --400-40: rgba(0, 136, 136, 0.40);
    --400-50: rgba(0, 136, 136, 0.50);
    --400-60: rgba(0, 136, 136, 0.60);
    --400-70: rgba(0, 136, 136, 0.70);
    --400-80: rgba(0, 136, 136, 0.80);
    --400-90: rgba(0, 136, 136, 0.90);
    --300-0: rgba(0, 102, 102, 0.00);
    --300-10: rgba(0, 102, 102, 0.10);
    --300-20: rgba(0, 102, 102, 0.20);
    --300-30: rgba(0, 102, 102, 0.30);
    --300-40: rgba(0, 102, 102, 0.40);
    --300-50: rgba(0, 102, 102, 0.50);
    --300-60: rgba(0, 102, 102, 0.60);
    --300-70: rgba(0, 102, 102, 0.70);
    --300-80: rgba(0, 102, 102, 0.80);
    --300-90: rgba(0, 102, 102, 0.90);
    --200-0: rgba(0, 68, 68, 0.00);
    --200-10: rgba(0, 68, 68, 0.10);
    --200-20: rgba(0, 68, 68, 0.20);
    --200-30: rgba(0, 68, 68, 0.30);
    --200-40: rgba(0, 68, 68, 0.40);
    --200-50: rgba(0, 68, 68, 0.50);
    --200-60: rgba(0, 68, 68, 0.60);
    --200-70: rgba(0, 68, 68, 0.70);
    --200-80: rgba(0, 68, 68, 0.80);
    --200-90: rgba(0, 68, 68, 0.90);
    --100-0: rgba(0, 34, 34, 0.00);
    --100-10: rgba(0, 34, 34, 0.10);
    --100-20: rgba(0, 34, 34, 0.20);
    --100-30: rgba(0, 34, 34, 0.30);
    --100-40: rgba(0, 34, 34, 0.40);
    --100-50: rgba(0, 34, 34, 0.50);
    --100-60: rgba(0, 34, 34, 0.60);
    --100-70: rgba(0, 34, 34, 0.70);
    --100-80: rgba(0, 34, 34, 0.80);
    --100-90: rgba(0, 34, 34, 0.90);
}
.bg-500 { background: var(--500); }
.text-500-violet { color: rgba(139, 92, 246); }
.text-500-blue { color: rgba(59, 130, 246); }
.text-500-emerald { color: rgb(16, 185, 129); }
.text-500-rose { color: rgb(239, 68, 68); }
.text-500-amber { color: rgb(245, 158, 11); }
.text-500-red { color: rgba(170, 0, 0); }
.text-500-yellow { color: rgba(210, 210, 0); }
.text-500-cyan { color: rgba(0, 170, 170); }
