[data-theme="violet"]{
    --gradient: rgba(146, 51, 234, 0.20);
    --900-0: rgba(146.0, 51.0, 234.0, 0.00);
    --900-10: rgba(146.0, 51.0, 234.0, 0.10);
    --900-20: rgba(146.0, 51.0, 234.0, 0.20);
    --900-30: rgba(146.0, 51.0, 234.0, 0.30);
    --900-40: rgba(146.0, 51.0, 234.0, 0.40);
    --900-50: rgba(146.0, 51.0, 234.0, 0.50);
    --900-60: rgba(146.0, 51.0, 234.0, 0.60);
    --900-70: rgba(146.0, 51.0, 234.0, 0.70);
    --900-80: rgba(146.0, 51.0, 234.0, 0.80);
    --900-90: rgba(146.0, 51.0, 234.0, 0.90);
    --900-100: rgba(146.0, 51.0, 234.0, 1.00);
    --800-0: rgba(173.25, 102.0, 239.25, 0.00);
    --800-10: rgba(173.25, 102.0, 239.25, 0.10);
    --800-20: rgba(173.25, 102.0, 239.25, 0.20);
    --800-30: rgba(173.25, 102.0, 239.25, 0.30);
    --800-40: rgba(173.25, 102.0, 239.25, 0.40);
    --800-50: rgba(173.25, 102.0, 239.25, 0.50);
    --800-60: rgba(173.25, 102.0, 239.25, 0.60);
    --800-70: rgba(173.25, 102.0, 239.25, 0.70);
    --800-80: rgba(173.25, 102.0, 239.25, 0.80);
    --800-90: rgba(173.25, 102.0, 239.25, 0.90);
    --800-100: rgba(173.25, 102.0, 239.25, 1.00);
    --700-0: rgba(200.5, 153.0, 244.5, 0.00);
    --700-10: rgba(200.5, 153.0, 244.5, 0.10);
    --700-20: rgba(200.5, 153.0, 244.5, 0.20);
    --700-30: rgba(200.5, 153.0, 244.5, 0.30);
    --700-40: rgba(200.5, 153.0, 244.5, 0.40);
    --700-50: rgba(200.5, 153.0, 244.5, 0.50);
    --700-60: rgba(200.5, 153.0, 244.5, 0.60);
    --700-70: rgba(200.5, 153.0, 244.5, 0.70);
    --700-80: rgba(200.5, 153.0, 244.5, 0.80);
    --700-90: rgba(200.5, 153.0, 244.5, 0.90);
    --700-100: rgba(200.5, 153.0, 244.5, 1.00);
    --600-0: rgba(227.75, 204.0, 249.75, 0.00);
    --600-10: rgba(227.75, 204.0, 249.75, 0.10);
    --600-20: rgba(227.75, 204.0, 249.75, 0.20);
    --600-30: rgba(227.75, 204.0, 249.75, 0.30);
    --600-40: rgba(227.75, 204.0, 249.75, 0.40);
    --600-50: rgba(227.75, 204.0, 249.75, 0.50);
    --600-60: rgba(227.75, 204.0, 249.75, 0.60);
    --600-70: rgba(227.75, 204.0, 249.75, 0.70);
    --600-80: rgba(227.75, 204.0, 249.75, 0.80);
    --600-90: rgba(227.75, 204.0, 249.75, 0.90);
    --600-100: rgba(227.75, 204.0, 249.75, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(116.8, 40.8, 187.2, 0.00);
    --400-10: rgba(116.8, 40.8, 187.2, 0.10);
    --400-20: rgba(116.8, 40.8, 187.2, 0.20);
    --400-30: rgba(116.8, 40.8, 187.2, 0.30);
    --400-40: rgba(116.8, 40.8, 187.2, 0.40);
    --400-50: rgba(116.8, 40.8, 187.2, 0.50);
    --400-60: rgba(116.8, 40.8, 187.2, 0.60);
    --400-70: rgba(116.8, 40.8, 187.2, 0.70);
    --400-80: rgba(116.8, 40.8, 187.2, 0.80);
    --400-90: rgba(116.8, 40.8, 187.2, 0.90);
    --400-100: rgba(116.8, 40.8, 187.2, 1.00);
    --300-0: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.00);
    --300-10: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.10);
    --300-20: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.20);
    --300-30: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.30);
    --300-40: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.40);
    --300-50: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.50);
    --300-60: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.60);
    --300-70: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.70);
    --300-80: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.80);
    --300-90: rgba(87.6, 30.599999999999998, 140.39999999999998, 0.90);
    --300-100: rgba(87.6, 30.599999999999998, 140.39999999999998, 1.00);
    --200-0: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.00);
    --200-10: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.10);
    --200-20: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.20);
    --200-30: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.30);
    --200-40: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.40);
    --200-50: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.50);
    --200-60: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.60);
    --200-70: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.70);
    --200-80: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.80);
    --200-90: rgba(58.400000000000006, 20.400000000000002, 93.6, 0.90);
    --200-100: rgba(58.400000000000006, 20.400000000000002, 93.6, 1.00);
    --100-0: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.00);
    --100-10: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.10);
    --100-20: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.20);
    --100-30: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.30);
    --100-40: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.40);
    --100-50: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.50);
    --100-60: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.60);
    --100-70: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.70);
    --100-80: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.80);
    --100-90: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 0.90);
    --100-100: rgba(29.19999999999999, 10.199999999999996, 46.79999999999998, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="blue"]{
    --gradient: rgba(51, 136, 234, 0.20);
    --900-0: rgba(51.0, 136.0, 234.0, 0.00);
    --900-10: rgba(51.0, 136.0, 234.0, 0.10);
    --900-20: rgba(51.0, 136.0, 234.0, 0.20);
    --900-30: rgba(51.0, 136.0, 234.0, 0.30);
    --900-40: rgba(51.0, 136.0, 234.0, 0.40);
    --900-50: rgba(51.0, 136.0, 234.0, 0.50);
    --900-60: rgba(51.0, 136.0, 234.0, 0.60);
    --900-70: rgba(51.0, 136.0, 234.0, 0.70);
    --900-80: rgba(51.0, 136.0, 234.0, 0.80);
    --900-90: rgba(51.0, 136.0, 234.0, 0.90);
    --900-100: rgba(51.0, 136.0, 234.0, 1.00);
    --800-0: rgba(102.0, 165.75, 239.25, 0.00);
    --800-10: rgba(102.0, 165.75, 239.25, 0.10);
    --800-20: rgba(102.0, 165.75, 239.25, 0.20);
    --800-30: rgba(102.0, 165.75, 239.25, 0.30);
    --800-40: rgba(102.0, 165.75, 239.25, 0.40);
    --800-50: rgba(102.0, 165.75, 239.25, 0.50);
    --800-60: rgba(102.0, 165.75, 239.25, 0.60);
    --800-70: rgba(102.0, 165.75, 239.25, 0.70);
    --800-80: rgba(102.0, 165.75, 239.25, 0.80);
    --800-90: rgba(102.0, 165.75, 239.25, 0.90);
    --800-100: rgba(102.0, 165.75, 239.25, 1.00);
    --700-0: rgba(153.0, 195.5, 244.5, 0.00);
    --700-10: rgba(153.0, 195.5, 244.5, 0.10);
    --700-20: rgba(153.0, 195.5, 244.5, 0.20);
    --700-30: rgba(153.0, 195.5, 244.5, 0.30);
    --700-40: rgba(153.0, 195.5, 244.5, 0.40);
    --700-50: rgba(153.0, 195.5, 244.5, 0.50);
    --700-60: rgba(153.0, 195.5, 244.5, 0.60);
    --700-70: rgba(153.0, 195.5, 244.5, 0.70);
    --700-80: rgba(153.0, 195.5, 244.5, 0.80);
    --700-90: rgba(153.0, 195.5, 244.5, 0.90);
    --700-100: rgba(153.0, 195.5, 244.5, 1.00);
    --600-0: rgba(204.0, 225.25, 249.75, 0.00);
    --600-10: rgba(204.0, 225.25, 249.75, 0.10);
    --600-20: rgba(204.0, 225.25, 249.75, 0.20);
    --600-30: rgba(204.0, 225.25, 249.75, 0.30);
    --600-40: rgba(204.0, 225.25, 249.75, 0.40);
    --600-50: rgba(204.0, 225.25, 249.75, 0.50);
    --600-60: rgba(204.0, 225.25, 249.75, 0.60);
    --600-70: rgba(204.0, 225.25, 249.75, 0.70);
    --600-80: rgba(204.0, 225.25, 249.75, 0.80);
    --600-90: rgba(204.0, 225.25, 249.75, 0.90);
    --600-100: rgba(204.0, 225.25, 249.75, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(40.8, 108.8, 187.2, 0.00);
    --400-10: rgba(40.8, 108.8, 187.2, 0.10);
    --400-20: rgba(40.8, 108.8, 187.2, 0.20);
    --400-30: rgba(40.8, 108.8, 187.2, 0.30);
    --400-40: rgba(40.8, 108.8, 187.2, 0.40);
    --400-50: rgba(40.8, 108.8, 187.2, 0.50);
    --400-60: rgba(40.8, 108.8, 187.2, 0.60);
    --400-70: rgba(40.8, 108.8, 187.2, 0.70);
    --400-80: rgba(40.8, 108.8, 187.2, 0.80);
    --400-90: rgba(40.8, 108.8, 187.2, 0.90);
    --400-100: rgba(40.8, 108.8, 187.2, 1.00);
    --300-0: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.00);
    --300-10: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.10);
    --300-20: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.20);
    --300-30: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.30);
    --300-40: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.40);
    --300-50: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.50);
    --300-60: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.60);
    --300-70: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.70);
    --300-80: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.80);
    --300-90: rgba(30.599999999999998, 81.6, 140.39999999999998, 0.90);
    --300-100: rgba(30.599999999999998, 81.6, 140.39999999999998, 1.00);
    --200-0: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.00);
    --200-10: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.10);
    --200-20: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.20);
    --200-30: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.30);
    --200-40: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.40);
    --200-50: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.50);
    --200-60: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.60);
    --200-70: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.70);
    --200-80: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.80);
    --200-90: rgba(20.400000000000002, 54.400000000000006, 93.6, 0.90);
    --200-100: rgba(20.400000000000002, 54.400000000000006, 93.6, 1.00);
    --100-0: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.00);
    --100-10: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.10);
    --100-20: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.20);
    --100-30: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.30);
    --100-40: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.40);
    --100-50: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.50);
    --100-60: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.60);
    --100-70: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.70);
    --100-80: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.80);
    --100-90: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 0.90);
    --100-100: rgba(10.199999999999996, 27.19999999999999, 46.79999999999998, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="rose"]{
    --gradient: rgba(239, 68, 68, 0.20);
    --900-0: rgba(239.0, 68.0, 68.0, 0.00);
    --900-10: rgba(239.0, 68.0, 68.0, 0.10);
    --900-20: rgba(239.0, 68.0, 68.0, 0.20);
    --900-30: rgba(239.0, 68.0, 68.0, 0.30);
    --900-40: rgba(239.0, 68.0, 68.0, 0.40);
    --900-50: rgba(239.0, 68.0, 68.0, 0.50);
    --900-60: rgba(239.0, 68.0, 68.0, 0.60);
    --900-70: rgba(239.0, 68.0, 68.0, 0.70);
    --900-80: rgba(239.0, 68.0, 68.0, 0.80);
    --900-90: rgba(239.0, 68.0, 68.0, 0.90);
    --900-100: rgba(239.0, 68.0, 68.0, 1.00);
    --800-0: rgba(243.0, 114.75, 114.75, 0.00);
    --800-10: rgba(243.0, 114.75, 114.75, 0.10);
    --800-20: rgba(243.0, 114.75, 114.75, 0.20);
    --800-30: rgba(243.0, 114.75, 114.75, 0.30);
    --800-40: rgba(243.0, 114.75, 114.75, 0.40);
    --800-50: rgba(243.0, 114.75, 114.75, 0.50);
    --800-60: rgba(243.0, 114.75, 114.75, 0.60);
    --800-70: rgba(243.0, 114.75, 114.75, 0.70);
    --800-80: rgba(243.0, 114.75, 114.75, 0.80);
    --800-90: rgba(243.0, 114.75, 114.75, 0.90);
    --800-100: rgba(243.0, 114.75, 114.75, 1.00);
    --700-0: rgba(247.0, 161.5, 161.5, 0.00);
    --700-10: rgba(247.0, 161.5, 161.5, 0.10);
    --700-20: rgba(247.0, 161.5, 161.5, 0.20);
    --700-30: rgba(247.0, 161.5, 161.5, 0.30);
    --700-40: rgba(247.0, 161.5, 161.5, 0.40);
    --700-50: rgba(247.0, 161.5, 161.5, 0.50);
    --700-60: rgba(247.0, 161.5, 161.5, 0.60);
    --700-70: rgba(247.0, 161.5, 161.5, 0.70);
    --700-80: rgba(247.0, 161.5, 161.5, 0.80);
    --700-90: rgba(247.0, 161.5, 161.5, 0.90);
    --700-100: rgba(247.0, 161.5, 161.5, 1.00);
    --600-0: rgba(251.0, 208.25, 208.25, 0.00);
    --600-10: rgba(251.0, 208.25, 208.25, 0.10);
    --600-20: rgba(251.0, 208.25, 208.25, 0.20);
    --600-30: rgba(251.0, 208.25, 208.25, 0.30);
    --600-40: rgba(251.0, 208.25, 208.25, 0.40);
    --600-50: rgba(251.0, 208.25, 208.25, 0.50);
    --600-60: rgba(251.0, 208.25, 208.25, 0.60);
    --600-70: rgba(251.0, 208.25, 208.25, 0.70);
    --600-80: rgba(251.0, 208.25, 208.25, 0.80);
    --600-90: rgba(251.0, 208.25, 208.25, 0.90);
    --600-100: rgba(251.0, 208.25, 208.25, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(191.2, 54.4, 54.4, 0.00);
    --400-10: rgba(191.2, 54.4, 54.4, 0.10);
    --400-20: rgba(191.2, 54.4, 54.4, 0.20);
    --400-30: rgba(191.2, 54.4, 54.4, 0.30);
    --400-40: rgba(191.2, 54.4, 54.4, 0.40);
    --400-50: rgba(191.2, 54.4, 54.4, 0.50);
    --400-60: rgba(191.2, 54.4, 54.4, 0.60);
    --400-70: rgba(191.2, 54.4, 54.4, 0.70);
    --400-80: rgba(191.2, 54.4, 54.4, 0.80);
    --400-90: rgba(191.2, 54.4, 54.4, 0.90);
    --400-100: rgba(191.2, 54.4, 54.4, 1.00);
    --300-0: rgba(143.39999999999998, 40.8, 40.8, 0.00);
    --300-10: rgba(143.39999999999998, 40.8, 40.8, 0.10);
    --300-20: rgba(143.39999999999998, 40.8, 40.8, 0.20);
    --300-30: rgba(143.39999999999998, 40.8, 40.8, 0.30);
    --300-40: rgba(143.39999999999998, 40.8, 40.8, 0.40);
    --300-50: rgba(143.39999999999998, 40.8, 40.8, 0.50);
    --300-60: rgba(143.39999999999998, 40.8, 40.8, 0.60);
    --300-70: rgba(143.39999999999998, 40.8, 40.8, 0.70);
    --300-80: rgba(143.39999999999998, 40.8, 40.8, 0.80);
    --300-90: rgba(143.39999999999998, 40.8, 40.8, 0.90);
    --300-100: rgba(143.39999999999998, 40.8, 40.8, 1.00);
    --200-0: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.00);
    --200-10: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.10);
    --200-20: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.20);
    --200-30: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.30);
    --200-40: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.40);
    --200-50: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.50);
    --200-60: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.60);
    --200-70: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.70);
    --200-80: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.80);
    --200-90: rgba(95.6, 27.200000000000003, 27.200000000000003, 0.90);
    --200-100: rgba(95.6, 27.200000000000003, 27.200000000000003, 1.00);
    --100-0: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.00);
    --100-10: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.10);
    --100-20: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.20);
    --100-30: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.30);
    --100-40: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.40);
    --100-50: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.50);
    --100-60: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.60);
    --100-70: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.70);
    --100-80: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.80);
    --100-90: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 0.90);
    --100-100: rgba(47.79999999999998, 13.599999999999994, 13.599999999999994, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="amber"]{
    --gradient: rgba(245, 158, 11, 0.20);
    --900-0: rgba(245.0, 158.0, 11.0, 0.00);
    --900-10: rgba(245.0, 158.0, 11.0, 0.10);
    --900-20: rgba(245.0, 158.0, 11.0, 0.20);
    --900-30: rgba(245.0, 158.0, 11.0, 0.30);
    --900-40: rgba(245.0, 158.0, 11.0, 0.40);
    --900-50: rgba(245.0, 158.0, 11.0, 0.50);
    --900-60: rgba(245.0, 158.0, 11.0, 0.60);
    --900-70: rgba(245.0, 158.0, 11.0, 0.70);
    --900-80: rgba(245.0, 158.0, 11.0, 0.80);
    --900-90: rgba(245.0, 158.0, 11.0, 0.90);
    --900-100: rgba(245.0, 158.0, 11.0, 1.00);
    --800-0: rgba(247.5, 182.25, 72.0, 0.00);
    --800-10: rgba(247.5, 182.25, 72.0, 0.10);
    --800-20: rgba(247.5, 182.25, 72.0, 0.20);
    --800-30: rgba(247.5, 182.25, 72.0, 0.30);
    --800-40: rgba(247.5, 182.25, 72.0, 0.40);
    --800-50: rgba(247.5, 182.25, 72.0, 0.50);
    --800-60: rgba(247.5, 182.25, 72.0, 0.60);
    --800-70: rgba(247.5, 182.25, 72.0, 0.70);
    --800-80: rgba(247.5, 182.25, 72.0, 0.80);
    --800-90: rgba(247.5, 182.25, 72.0, 0.90);
    --800-100: rgba(247.5, 182.25, 72.0, 1.00);
    --700-0: rgba(250.0, 206.5, 133.0, 0.00);
    --700-10: rgba(250.0, 206.5, 133.0, 0.10);
    --700-20: rgba(250.0, 206.5, 133.0, 0.20);
    --700-30: rgba(250.0, 206.5, 133.0, 0.30);
    --700-40: rgba(250.0, 206.5, 133.0, 0.40);
    --700-50: rgba(250.0, 206.5, 133.0, 0.50);
    --700-60: rgba(250.0, 206.5, 133.0, 0.60);
    --700-70: rgba(250.0, 206.5, 133.0, 0.70);
    --700-80: rgba(250.0, 206.5, 133.0, 0.80);
    --700-90: rgba(250.0, 206.5, 133.0, 0.90);
    --700-100: rgba(250.0, 206.5, 133.0, 1.00);
    --600-0: rgba(252.5, 230.75, 194.0, 0.00);
    --600-10: rgba(252.5, 230.75, 194.0, 0.10);
    --600-20: rgba(252.5, 230.75, 194.0, 0.20);
    --600-30: rgba(252.5, 230.75, 194.0, 0.30);
    --600-40: rgba(252.5, 230.75, 194.0, 0.40);
    --600-50: rgba(252.5, 230.75, 194.0, 0.50);
    --600-60: rgba(252.5, 230.75, 194.0, 0.60);
    --600-70: rgba(252.5, 230.75, 194.0, 0.70);
    --600-80: rgba(252.5, 230.75, 194.0, 0.80);
    --600-90: rgba(252.5, 230.75, 194.0, 0.90);
    --600-100: rgba(252.5, 230.75, 194.0, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(196.0, 126.4, 8.8, 0.00);
    --400-10: rgba(196.0, 126.4, 8.8, 0.10);
    --400-20: rgba(196.0, 126.4, 8.8, 0.20);
    --400-30: rgba(196.0, 126.4, 8.8, 0.30);
    --400-40: rgba(196.0, 126.4, 8.8, 0.40);
    --400-50: rgba(196.0, 126.4, 8.8, 0.50);
    --400-60: rgba(196.0, 126.4, 8.8, 0.60);
    --400-70: rgba(196.0, 126.4, 8.8, 0.70);
    --400-80: rgba(196.0, 126.4, 8.8, 0.80);
    --400-90: rgba(196.0, 126.4, 8.8, 0.90);
    --400-100: rgba(196.0, 126.4, 8.8, 1.00);
    --300-0: rgba(147.0, 94.8, 6.6, 0.00);
    --300-10: rgba(147.0, 94.8, 6.6, 0.10);
    --300-20: rgba(147.0, 94.8, 6.6, 0.20);
    --300-30: rgba(147.0, 94.8, 6.6, 0.30);
    --300-40: rgba(147.0, 94.8, 6.6, 0.40);
    --300-50: rgba(147.0, 94.8, 6.6, 0.50);
    --300-60: rgba(147.0, 94.8, 6.6, 0.60);
    --300-70: rgba(147.0, 94.8, 6.6, 0.70);
    --300-80: rgba(147.0, 94.8, 6.6, 0.80);
    --300-90: rgba(147.0, 94.8, 6.6, 0.90);
    --300-100: rgba(147.0, 94.8, 6.6, 1.00);
    --200-0: rgba(98.0, 63.2, 4.4, 0.00);
    --200-10: rgba(98.0, 63.2, 4.4, 0.10);
    --200-20: rgba(98.0, 63.2, 4.4, 0.20);
    --200-30: rgba(98.0, 63.2, 4.4, 0.30);
    --200-40: rgba(98.0, 63.2, 4.4, 0.40);
    --200-50: rgba(98.0, 63.2, 4.4, 0.50);
    --200-60: rgba(98.0, 63.2, 4.4, 0.60);
    --200-70: rgba(98.0, 63.2, 4.4, 0.70);
    --200-80: rgba(98.0, 63.2, 4.4, 0.80);
    --200-90: rgba(98.0, 63.2, 4.4, 0.90);
    --200-100: rgba(98.0, 63.2, 4.4, 1.00);
    --100-0: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.00);
    --100-10: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.10);
    --100-20: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.20);
    --100-30: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.30);
    --100-40: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.40);
    --100-50: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.50);
    --100-60: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.60);
    --100-70: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.70);
    --100-80: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.80);
    --100-90: rgba(49.0, 31.599999999999994, 2.1999999999999993, 0.90);
    --100-100: rgba(49.0, 31.599999999999994, 2.1999999999999993, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="emerald"]{
    --gradient: rgba(16, 185, 129, 0.20);
    --900-0: rgba(16.0, 185.0, 129.0, 0.00);
    --900-10: rgba(16.0, 185.0, 129.0, 0.10);
    --900-20: rgba(16.0, 185.0, 129.0, 0.20);
    --900-30: rgba(16.0, 185.0, 129.0, 0.30);
    --900-40: rgba(16.0, 185.0, 129.0, 0.40);
    --900-50: rgba(16.0, 185.0, 129.0, 0.50);
    --900-60: rgba(16.0, 185.0, 129.0, 0.60);
    --900-70: rgba(16.0, 185.0, 129.0, 0.70);
    --900-80: rgba(16.0, 185.0, 129.0, 0.80);
    --900-90: rgba(16.0, 185.0, 129.0, 0.90);
    --900-100: rgba(16.0, 185.0, 129.0, 1.00);
    --800-0: rgba(75.75, 202.5, 160.5, 0.00);
    --800-10: rgba(75.75, 202.5, 160.5, 0.10);
    --800-20: rgba(75.75, 202.5, 160.5, 0.20);
    --800-30: rgba(75.75, 202.5, 160.5, 0.30);
    --800-40: rgba(75.75, 202.5, 160.5, 0.40);
    --800-50: rgba(75.75, 202.5, 160.5, 0.50);
    --800-60: rgba(75.75, 202.5, 160.5, 0.60);
    --800-70: rgba(75.75, 202.5, 160.5, 0.70);
    --800-80: rgba(75.75, 202.5, 160.5, 0.80);
    --800-90: rgba(75.75, 202.5, 160.5, 0.90);
    --800-100: rgba(75.75, 202.5, 160.5, 1.00);
    --700-0: rgba(135.5, 220.0, 192.0, 0.00);
    --700-10: rgba(135.5, 220.0, 192.0, 0.10);
    --700-20: rgba(135.5, 220.0, 192.0, 0.20);
    --700-30: rgba(135.5, 220.0, 192.0, 0.30);
    --700-40: rgba(135.5, 220.0, 192.0, 0.40);
    --700-50: rgba(135.5, 220.0, 192.0, 0.50);
    --700-60: rgba(135.5, 220.0, 192.0, 0.60);
    --700-70: rgba(135.5, 220.0, 192.0, 0.70);
    --700-80: rgba(135.5, 220.0, 192.0, 0.80);
    --700-90: rgba(135.5, 220.0, 192.0, 0.90);
    --700-100: rgba(135.5, 220.0, 192.0, 1.00);
    --600-0: rgba(195.25, 237.5, 223.5, 0.00);
    --600-10: rgba(195.25, 237.5, 223.5, 0.10);
    --600-20: rgba(195.25, 237.5, 223.5, 0.20);
    --600-30: rgba(195.25, 237.5, 223.5, 0.30);
    --600-40: rgba(195.25, 237.5, 223.5, 0.40);
    --600-50: rgba(195.25, 237.5, 223.5, 0.50);
    --600-60: rgba(195.25, 237.5, 223.5, 0.60);
    --600-70: rgba(195.25, 237.5, 223.5, 0.70);
    --600-80: rgba(195.25, 237.5, 223.5, 0.80);
    --600-90: rgba(195.25, 237.5, 223.5, 0.90);
    --600-100: rgba(195.25, 237.5, 223.5, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(12.8, 148.0, 103.2, 0.00);
    --400-10: rgba(12.8, 148.0, 103.2, 0.10);
    --400-20: rgba(12.8, 148.0, 103.2, 0.20);
    --400-30: rgba(12.8, 148.0, 103.2, 0.30);
    --400-40: rgba(12.8, 148.0, 103.2, 0.40);
    --400-50: rgba(12.8, 148.0, 103.2, 0.50);
    --400-60: rgba(12.8, 148.0, 103.2, 0.60);
    --400-70: rgba(12.8, 148.0, 103.2, 0.70);
    --400-80: rgba(12.8, 148.0, 103.2, 0.80);
    --400-90: rgba(12.8, 148.0, 103.2, 0.90);
    --400-100: rgba(12.8, 148.0, 103.2, 1.00);
    --300-0: rgba(9.6, 111.0, 77.4, 0.00);
    --300-10: rgba(9.6, 111.0, 77.4, 0.10);
    --300-20: rgba(9.6, 111.0, 77.4, 0.20);
    --300-30: rgba(9.6, 111.0, 77.4, 0.30);
    --300-40: rgba(9.6, 111.0, 77.4, 0.40);
    --300-50: rgba(9.6, 111.0, 77.4, 0.50);
    --300-60: rgba(9.6, 111.0, 77.4, 0.60);
    --300-70: rgba(9.6, 111.0, 77.4, 0.70);
    --300-80: rgba(9.6, 111.0, 77.4, 0.80);
    --300-90: rgba(9.6, 111.0, 77.4, 0.90);
    --300-100: rgba(9.6, 111.0, 77.4, 1.00);
    --200-0: rgba(6.4, 74.0, 51.60000000000001, 0.00);
    --200-10: rgba(6.4, 74.0, 51.60000000000001, 0.10);
    --200-20: rgba(6.4, 74.0, 51.60000000000001, 0.20);
    --200-30: rgba(6.4, 74.0, 51.60000000000001, 0.30);
    --200-40: rgba(6.4, 74.0, 51.60000000000001, 0.40);
    --200-50: rgba(6.4, 74.0, 51.60000000000001, 0.50);
    --200-60: rgba(6.4, 74.0, 51.60000000000001, 0.60);
    --200-70: rgba(6.4, 74.0, 51.60000000000001, 0.70);
    --200-80: rgba(6.4, 74.0, 51.60000000000001, 0.80);
    --200-90: rgba(6.4, 74.0, 51.60000000000001, 0.90);
    --200-100: rgba(6.4, 74.0, 51.60000000000001, 1.00);
    --100-0: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.00);
    --100-10: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.10);
    --100-20: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.20);
    --100-30: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.30);
    --100-40: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.40);
    --100-50: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.50);
    --100-60: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.60);
    --100-70: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.70);
    --100-80: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.80);
    --100-90: rgba(3.1999999999999993, 37.0, 25.799999999999997, 0.90);
    --100-100: rgba(3.1999999999999993, 37.0, 25.799999999999997, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="red"]{
    --gradient: rgba(170, 0, 0, 0.20);
    --900-0: rgba(170.0, 0.0, 0.0, 0.00);
    --900-10: rgba(170.0, 0.0, 0.0, 0.10);
    --900-20: rgba(170.0, 0.0, 0.0, 0.20);
    --900-30: rgba(170.0, 0.0, 0.0, 0.30);
    --900-40: rgba(170.0, 0.0, 0.0, 0.40);
    --900-50: rgba(170.0, 0.0, 0.0, 0.50);
    --900-60: rgba(170.0, 0.0, 0.0, 0.60);
    --900-70: rgba(170.0, 0.0, 0.0, 0.70);
    --900-80: rgba(170.0, 0.0, 0.0, 0.80);
    --900-90: rgba(170.0, 0.0, 0.0, 0.90);
    --900-100: rgba(170.0, 0.0, 0.0, 1.00);
    --800-0: rgba(191.25, 63.75, 63.75, 0.00);
    --800-10: rgba(191.25, 63.75, 63.75, 0.10);
    --800-20: rgba(191.25, 63.75, 63.75, 0.20);
    --800-30: rgba(191.25, 63.75, 63.75, 0.30);
    --800-40: rgba(191.25, 63.75, 63.75, 0.40);
    --800-50: rgba(191.25, 63.75, 63.75, 0.50);
    --800-60: rgba(191.25, 63.75, 63.75, 0.60);
    --800-70: rgba(191.25, 63.75, 63.75, 0.70);
    --800-80: rgba(191.25, 63.75, 63.75, 0.80);
    --800-90: rgba(191.25, 63.75, 63.75, 0.90);
    --800-100: rgba(191.25, 63.75, 63.75, 1.00);
    --700-0: rgba(212.5, 127.5, 127.5, 0.00);
    --700-10: rgba(212.5, 127.5, 127.5, 0.10);
    --700-20: rgba(212.5, 127.5, 127.5, 0.20);
    --700-30: rgba(212.5, 127.5, 127.5, 0.30);
    --700-40: rgba(212.5, 127.5, 127.5, 0.40);
    --700-50: rgba(212.5, 127.5, 127.5, 0.50);
    --700-60: rgba(212.5, 127.5, 127.5, 0.60);
    --700-70: rgba(212.5, 127.5, 127.5, 0.70);
    --700-80: rgba(212.5, 127.5, 127.5, 0.80);
    --700-90: rgba(212.5, 127.5, 127.5, 0.90);
    --700-100: rgba(212.5, 127.5, 127.5, 1.00);
    --600-0: rgba(233.75, 191.25, 191.25, 0.00);
    --600-10: rgba(233.75, 191.25, 191.25, 0.10);
    --600-20: rgba(233.75, 191.25, 191.25, 0.20);
    --600-30: rgba(233.75, 191.25, 191.25, 0.30);
    --600-40: rgba(233.75, 191.25, 191.25, 0.40);
    --600-50: rgba(233.75, 191.25, 191.25, 0.50);
    --600-60: rgba(233.75, 191.25, 191.25, 0.60);
    --600-70: rgba(233.75, 191.25, 191.25, 0.70);
    --600-80: rgba(233.75, 191.25, 191.25, 0.80);
    --600-90: rgba(233.75, 191.25, 191.25, 0.90);
    --600-100: rgba(233.75, 191.25, 191.25, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(136.0, 0.0, 0.0, 0.00);
    --400-10: rgba(136.0, 0.0, 0.0, 0.10);
    --400-20: rgba(136.0, 0.0, 0.0, 0.20);
    --400-30: rgba(136.0, 0.0, 0.0, 0.30);
    --400-40: rgba(136.0, 0.0, 0.0, 0.40);
    --400-50: rgba(136.0, 0.0, 0.0, 0.50);
    --400-60: rgba(136.0, 0.0, 0.0, 0.60);
    --400-70: rgba(136.0, 0.0, 0.0, 0.70);
    --400-80: rgba(136.0, 0.0, 0.0, 0.80);
    --400-90: rgba(136.0, 0.0, 0.0, 0.90);
    --400-100: rgba(136.0, 0.0, 0.0, 1.00);
    --300-0: rgba(102.0, 0.0, 0.0, 0.00);
    --300-10: rgba(102.0, 0.0, 0.0, 0.10);
    --300-20: rgba(102.0, 0.0, 0.0, 0.20);
    --300-30: rgba(102.0, 0.0, 0.0, 0.30);
    --300-40: rgba(102.0, 0.0, 0.0, 0.40);
    --300-50: rgba(102.0, 0.0, 0.0, 0.50);
    --300-60: rgba(102.0, 0.0, 0.0, 0.60);
    --300-70: rgba(102.0, 0.0, 0.0, 0.70);
    --300-80: rgba(102.0, 0.0, 0.0, 0.80);
    --300-90: rgba(102.0, 0.0, 0.0, 0.90);
    --300-100: rgba(102.0, 0.0, 0.0, 1.00);
    --200-0: rgba(68.0, 0.0, 0.0, 0.00);
    --200-10: rgba(68.0, 0.0, 0.0, 0.10);
    --200-20: rgba(68.0, 0.0, 0.0, 0.20);
    --200-30: rgba(68.0, 0.0, 0.0, 0.30);
    --200-40: rgba(68.0, 0.0, 0.0, 0.40);
    --200-50: rgba(68.0, 0.0, 0.0, 0.50);
    --200-60: rgba(68.0, 0.0, 0.0, 0.60);
    --200-70: rgba(68.0, 0.0, 0.0, 0.70);
    --200-80: rgba(68.0, 0.0, 0.0, 0.80);
    --200-90: rgba(68.0, 0.0, 0.0, 0.90);
    --200-100: rgba(68.0, 0.0, 0.0, 1.00);
    --100-0: rgba(34.0, 0.0, 0.0, 0.00);
    --100-10: rgba(34.0, 0.0, 0.0, 0.10);
    --100-20: rgba(34.0, 0.0, 0.0, 0.20);
    --100-30: rgba(34.0, 0.0, 0.0, 0.30);
    --100-40: rgba(34.0, 0.0, 0.0, 0.40);
    --100-50: rgba(34.0, 0.0, 0.0, 0.50);
    --100-60: rgba(34.0, 0.0, 0.0, 0.60);
    --100-70: rgba(34.0, 0.0, 0.0, 0.70);
    --100-80: rgba(34.0, 0.0, 0.0, 0.80);
    --100-90: rgba(34.0, 0.0, 0.0, 0.90);
    --100-100: rgba(34.0, 0.0, 0.0, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="yellow"]{
    --gradient: rgba(210, 210, 0, 0.20);
    --900-0: rgba(210.0, 210.0, 0.0, 0.00);
    --900-10: rgba(210.0, 210.0, 0.0, 0.10);
    --900-20: rgba(210.0, 210.0, 0.0, 0.20);
    --900-30: rgba(210.0, 210.0, 0.0, 0.30);
    --900-40: rgba(210.0, 210.0, 0.0, 0.40);
    --900-50: rgba(210.0, 210.0, 0.0, 0.50);
    --900-60: rgba(210.0, 210.0, 0.0, 0.60);
    --900-70: rgba(210.0, 210.0, 0.0, 0.70);
    --900-80: rgba(210.0, 210.0, 0.0, 0.80);
    --900-90: rgba(210.0, 210.0, 0.0, 0.90);
    --900-100: rgba(210.0, 210.0, 0.0, 1.00);
    --800-0: rgba(221.25, 221.25, 63.75, 0.00);
    --800-10: rgba(221.25, 221.25, 63.75, 0.10);
    --800-20: rgba(221.25, 221.25, 63.75, 0.20);
    --800-30: rgba(221.25, 221.25, 63.75, 0.30);
    --800-40: rgba(221.25, 221.25, 63.75, 0.40);
    --800-50: rgba(221.25, 221.25, 63.75, 0.50);
    --800-60: rgba(221.25, 221.25, 63.75, 0.60);
    --800-70: rgba(221.25, 221.25, 63.75, 0.70);
    --800-80: rgba(221.25, 221.25, 63.75, 0.80);
    --800-90: rgba(221.25, 221.25, 63.75, 0.90);
    --800-100: rgba(221.25, 221.25, 63.75, 1.00);
    --700-0: rgba(232.5, 232.5, 127.5, 0.00);
    --700-10: rgba(232.5, 232.5, 127.5, 0.10);
    --700-20: rgba(232.5, 232.5, 127.5, 0.20);
    --700-30: rgba(232.5, 232.5, 127.5, 0.30);
    --700-40: rgba(232.5, 232.5, 127.5, 0.40);
    --700-50: rgba(232.5, 232.5, 127.5, 0.50);
    --700-60: rgba(232.5, 232.5, 127.5, 0.60);
    --700-70: rgba(232.5, 232.5, 127.5, 0.70);
    --700-80: rgba(232.5, 232.5, 127.5, 0.80);
    --700-90: rgba(232.5, 232.5, 127.5, 0.90);
    --700-100: rgba(232.5, 232.5, 127.5, 1.00);
    --600-0: rgba(243.75, 243.75, 191.25, 0.00);
    --600-10: rgba(243.75, 243.75, 191.25, 0.10);
    --600-20: rgba(243.75, 243.75, 191.25, 0.20);
    --600-30: rgba(243.75, 243.75, 191.25, 0.30);
    --600-40: rgba(243.75, 243.75, 191.25, 0.40);
    --600-50: rgba(243.75, 243.75, 191.25, 0.50);
    --600-60: rgba(243.75, 243.75, 191.25, 0.60);
    --600-70: rgba(243.75, 243.75, 191.25, 0.70);
    --600-80: rgba(243.75, 243.75, 191.25, 0.80);
    --600-90: rgba(243.75, 243.75, 191.25, 0.90);
    --600-100: rgba(243.75, 243.75, 191.25, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(168.0, 168.0, 0.0, 0.00);
    --400-10: rgba(168.0, 168.0, 0.0, 0.10);
    --400-20: rgba(168.0, 168.0, 0.0, 0.20);
    --400-30: rgba(168.0, 168.0, 0.0, 0.30);
    --400-40: rgba(168.0, 168.0, 0.0, 0.40);
    --400-50: rgba(168.0, 168.0, 0.0, 0.50);
    --400-60: rgba(168.0, 168.0, 0.0, 0.60);
    --400-70: rgba(168.0, 168.0, 0.0, 0.70);
    --400-80: rgba(168.0, 168.0, 0.0, 0.80);
    --400-90: rgba(168.0, 168.0, 0.0, 0.90);
    --400-100: rgba(168.0, 168.0, 0.0, 1.00);
    --300-0: rgba(126.0, 126.0, 0.0, 0.00);
    --300-10: rgba(126.0, 126.0, 0.0, 0.10);
    --300-20: rgba(126.0, 126.0, 0.0, 0.20);
    --300-30: rgba(126.0, 126.0, 0.0, 0.30);
    --300-40: rgba(126.0, 126.0, 0.0, 0.40);
    --300-50: rgba(126.0, 126.0, 0.0, 0.50);
    --300-60: rgba(126.0, 126.0, 0.0, 0.60);
    --300-70: rgba(126.0, 126.0, 0.0, 0.70);
    --300-80: rgba(126.0, 126.0, 0.0, 0.80);
    --300-90: rgba(126.0, 126.0, 0.0, 0.90);
    --300-100: rgba(126.0, 126.0, 0.0, 1.00);
    --200-0: rgba(84.0, 84.0, 0.0, 0.00);
    --200-10: rgba(84.0, 84.0, 0.0, 0.10);
    --200-20: rgba(84.0, 84.0, 0.0, 0.20);
    --200-30: rgba(84.0, 84.0, 0.0, 0.30);
    --200-40: rgba(84.0, 84.0, 0.0, 0.40);
    --200-50: rgba(84.0, 84.0, 0.0, 0.50);
    --200-60: rgba(84.0, 84.0, 0.0, 0.60);
    --200-70: rgba(84.0, 84.0, 0.0, 0.70);
    --200-80: rgba(84.0, 84.0, 0.0, 0.80);
    --200-90: rgba(84.0, 84.0, 0.0, 0.90);
    --200-100: rgba(84.0, 84.0, 0.0, 1.00);
    --100-0: rgba(42.0, 42.0, 0.0, 0.00);
    --100-10: rgba(42.0, 42.0, 0.0, 0.10);
    --100-20: rgba(42.0, 42.0, 0.0, 0.20);
    --100-30: rgba(42.0, 42.0, 0.0, 0.30);
    --100-40: rgba(42.0, 42.0, 0.0, 0.40);
    --100-50: rgba(42.0, 42.0, 0.0, 0.50);
    --100-60: rgba(42.0, 42.0, 0.0, 0.60);
    --100-70: rgba(42.0, 42.0, 0.0, 0.70);
    --100-80: rgba(42.0, 42.0, 0.0, 0.80);
    --100-90: rgba(42.0, 42.0, 0.0, 0.90);
    --100-100: rgba(42.0, 42.0, 0.0, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
[data-theme="cyan"]{
    --gradient: rgba(0, 170, 170, 0.20);
    --900-0: rgba(0.0, 170.0, 170.0, 0.00);
    --900-10: rgba(0.0, 170.0, 170.0, 0.10);
    --900-20: rgba(0.0, 170.0, 170.0, 0.20);
    --900-30: rgba(0.0, 170.0, 170.0, 0.30);
    --900-40: rgba(0.0, 170.0, 170.0, 0.40);
    --900-50: rgba(0.0, 170.0, 170.0, 0.50);
    --900-60: rgba(0.0, 170.0, 170.0, 0.60);
    --900-70: rgba(0.0, 170.0, 170.0, 0.70);
    --900-80: rgba(0.0, 170.0, 170.0, 0.80);
    --900-90: rgba(0.0, 170.0, 170.0, 0.90);
    --900-100: rgba(0.0, 170.0, 170.0, 1.00);
    --800-0: rgba(63.75, 191.25, 191.25, 0.00);
    --800-10: rgba(63.75, 191.25, 191.25, 0.10);
    --800-20: rgba(63.75, 191.25, 191.25, 0.20);
    --800-30: rgba(63.75, 191.25, 191.25, 0.30);
    --800-40: rgba(63.75, 191.25, 191.25, 0.40);
    --800-50: rgba(63.75, 191.25, 191.25, 0.50);
    --800-60: rgba(63.75, 191.25, 191.25, 0.60);
    --800-70: rgba(63.75, 191.25, 191.25, 0.70);
    --800-80: rgba(63.75, 191.25, 191.25, 0.80);
    --800-90: rgba(63.75, 191.25, 191.25, 0.90);
    --800-100: rgba(63.75, 191.25, 191.25, 1.00);
    --700-0: rgba(127.5, 212.5, 212.5, 0.00);
    --700-10: rgba(127.5, 212.5, 212.5, 0.10);
    --700-20: rgba(127.5, 212.5, 212.5, 0.20);
    --700-30: rgba(127.5, 212.5, 212.5, 0.30);
    --700-40: rgba(127.5, 212.5, 212.5, 0.40);
    --700-50: rgba(127.5, 212.5, 212.5, 0.50);
    --700-60: rgba(127.5, 212.5, 212.5, 0.60);
    --700-70: rgba(127.5, 212.5, 212.5, 0.70);
    --700-80: rgba(127.5, 212.5, 212.5, 0.80);
    --700-90: rgba(127.5, 212.5, 212.5, 0.90);
    --700-100: rgba(127.5, 212.5, 212.5, 1.00);
    --600-0: rgba(191.25, 233.75, 233.75, 0.00);
    --600-10: rgba(191.25, 233.75, 233.75, 0.10);
    --600-20: rgba(191.25, 233.75, 233.75, 0.20);
    --600-30: rgba(191.25, 233.75, 233.75, 0.30);
    --600-40: rgba(191.25, 233.75, 233.75, 0.40);
    --600-50: rgba(191.25, 233.75, 233.75, 0.50);
    --600-60: rgba(191.25, 233.75, 233.75, 0.60);
    --600-70: rgba(191.25, 233.75, 233.75, 0.70);
    --600-80: rgba(191.25, 233.75, 233.75, 0.80);
    --600-90: rgba(191.25, 233.75, 233.75, 0.90);
    --600-100: rgba(191.25, 233.75, 233.75, 1.00);
    --500-0: rgba(255.0, 255.0, 255.0, 0.00);
    --500-10: rgba(255.0, 255.0, 255.0, 0.10);
    --500-20: rgba(255.0, 255.0, 255.0, 0.20);
    --500-30: rgba(255.0, 255.0, 255.0, 0.30);
    --500-40: rgba(255.0, 255.0, 255.0, 0.40);
    --500-50: rgba(255.0, 255.0, 255.0, 0.50);
    --500-60: rgba(255.0, 255.0, 255.0, 0.60);
    --500-70: rgba(255.0, 255.0, 255.0, 0.70);
    --500-80: rgba(255.0, 255.0, 255.0, 0.80);
    --500-90: rgba(255.0, 255.0, 255.0, 0.90);
    --500-100: rgba(255.0, 255.0, 255.0, 1.00);
    --400-0: rgba(0.0, 136.0, 136.0, 0.00);
    --400-10: rgba(0.0, 136.0, 136.0, 0.10);
    --400-20: rgba(0.0, 136.0, 136.0, 0.20);
    --400-30: rgba(0.0, 136.0, 136.0, 0.30);
    --400-40: rgba(0.0, 136.0, 136.0, 0.40);
    --400-50: rgba(0.0, 136.0, 136.0, 0.50);
    --400-60: rgba(0.0, 136.0, 136.0, 0.60);
    --400-70: rgba(0.0, 136.0, 136.0, 0.70);
    --400-80: rgba(0.0, 136.0, 136.0, 0.80);
    --400-90: rgba(0.0, 136.0, 136.0, 0.90);
    --400-100: rgba(0.0, 136.0, 136.0, 1.00);
    --300-0: rgba(0.0, 102.0, 102.0, 0.00);
    --300-10: rgba(0.0, 102.0, 102.0, 0.10);
    --300-20: rgba(0.0, 102.0, 102.0, 0.20);
    --300-30: rgba(0.0, 102.0, 102.0, 0.30);
    --300-40: rgba(0.0, 102.0, 102.0, 0.40);
    --300-50: rgba(0.0, 102.0, 102.0, 0.50);
    --300-60: rgba(0.0, 102.0, 102.0, 0.60);
    --300-70: rgba(0.0, 102.0, 102.0, 0.70);
    --300-80: rgba(0.0, 102.0, 102.0, 0.80);
    --300-90: rgba(0.0, 102.0, 102.0, 0.90);
    --300-100: rgba(0.0, 102.0, 102.0, 1.00);
    --200-0: rgba(0.0, 68.0, 68.0, 0.00);
    --200-10: rgba(0.0, 68.0, 68.0, 0.10);
    --200-20: rgba(0.0, 68.0, 68.0, 0.20);
    --200-30: rgba(0.0, 68.0, 68.0, 0.30);
    --200-40: rgba(0.0, 68.0, 68.0, 0.40);
    --200-50: rgba(0.0, 68.0, 68.0, 0.50);
    --200-60: rgba(0.0, 68.0, 68.0, 0.60);
    --200-70: rgba(0.0, 68.0, 68.0, 0.70);
    --200-80: rgba(0.0, 68.0, 68.0, 0.80);
    --200-90: rgba(0.0, 68.0, 68.0, 0.90);
    --200-100: rgba(0.0, 68.0, 68.0, 1.00);
    --100-0: rgba(0.0, 34.0, 34.0, 0.00);
    --100-10: rgba(0.0, 34.0, 34.0, 0.10);
    --100-20: rgba(0.0, 34.0, 34.0, 0.20);
    --100-30: rgba(0.0, 34.0, 34.0, 0.30);
    --100-40: rgba(0.0, 34.0, 34.0, 0.40);
    --100-50: rgba(0.0, 34.0, 34.0, 0.50);
    --100-60: rgba(0.0, 34.0, 34.0, 0.60);
    --100-70: rgba(0.0, 34.0, 34.0, 0.70);
    --100-80: rgba(0.0, 34.0, 34.0, 0.80);
    --100-90: rgba(0.0, 34.0, 34.0, 0.90);
    --100-100: rgba(0.0, 34.0, 34.0, 1.00);
    --0-0: rgba(0.0, 0.0, 0.0, 0.00);
    --0-10: rgba(0.0, 0.0, 0.0, 0.10);
    --0-20: rgba(0.0, 0.0, 0.0, 0.20);
    --0-30: rgba(0.0, 0.0, 0.0, 0.30);
    --0-40: rgba(0.0, 0.0, 0.0, 0.40);
    --0-50: rgba(0.0, 0.0, 0.0, 0.50);
    --0-60: rgba(0.0, 0.0, 0.0, 0.60);
    --0-70: rgba(0.0, 0.0, 0.0, 0.70);
    --0-80: rgba(0.0, 0.0, 0.0, 0.80);
    --0-90: rgba(0.0, 0.0, 0.0, 0.90);
    --0-100: rgba(0.0, 0.0, 0.0, 1.00);
}
.bg-500 { background: var(--500); }
.text-500-violet { color: rgba(139, 92, 246); }
.text-500-blue { color: rgba(59, 130, 246); }
.text-500-emerald { color: rgb(16, 185, 129); }
.text-500-rose { color: rgb(239, 68, 68); }
.text-500-amber { color: rgb(245, 158, 11); }
.text-500-red { color: rgba(170, 0, 0); }
.text-500-yellow { color: rgba(210, 210, 0); }
.text-500-cyan { color: rgba(0, 170, 170); }
